.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.subtitle {
  color: #000000;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
}
.hero-text h4{
  font: italic;

}
.hero-text h1 {
  font-size: 20px;
  margin: 20px 0;
  font-weight: 600;
  color:rgb(0, 0, 0);
  max-width: 400px;
}

.btn {
  padding: 12px 30px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hero-img {
  width: 380px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ddd;
  margin-left: auto;
}

