.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 80px;
  position: sticky;
}

.logo {
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.search {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
}
.dropdown {
  position: relative;
  cursor: pointer;
}

/* dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 35px;          /* place below the dropdown item */
  left: 0;            /* align with dropdown item */
  width: 160px;
  background: #e7e6e6;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  padding: 8px 0;
  z-index: 10;
}
.dropdown-menu li {
  padding: 10px 15px;
  white-space: nowrap;
  list-style: none;
}

.dropdown-menu li:hover {
  background: #f5f5f5;
}